#components-layout-demo-fixed-sider .logo {
	height: 32px;
	background: rgba(255, 255, 255, 0.2);
	margin: 16px;
}
.site-layout .site-layout-background {
	background: #fff;
}
.layout-logo-admin {
	height: 70px;
	background-color: #121212;
}
